# Payment Settings
EXCHANGE_RATE=129.0
UPWORK_FEE=0.99
UPWORK_RATE=0.884

# Email Settings
SENDER=sender@example.com
SENDER_NAME=Sender Name
REGION=us-east-1
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key

# Airtime Settings
username=your_africastalking_username
api_key=your_africastalking_api_key
currency_code=KES
country=kenya

# Server Settings
BL_SERVER_HOST=0.0.0.0
BL_SERVER_PORT=80
